body {
    background-color: black;
}


.poster {
    font-family: "Libre Baskerville" serif;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 150px;
    color: white;
    border: 1px solid white;
}

.meme {
    border: 5px solid white;
    width: 100%;
}
